extends layout
block content
  h1= title
  button.btn(class="btn-info", onclick=`dispatch('/cars/create')`) Add new Car
  each item in theCars
    div
      p Make - #{item.Make}
      p Model - #{item.Model}
      p Price - #{item.Price}
      button.btn(class="btn-primary ml-1", onclick=`dispatch('/cars/update?id=${item._id}')`) Update
      button.btn(class="btn-success ml-1", onclick=`dispatch('/cars/detail?id=${item._id}')`) Details
      button.btn(class="btn-dark ml-1", onclick=`dispatch('/cars/delete?id=${item._id}')`) Delete
      br
      br
  script.
    function dispatch(path) {
      window.location.href = path;
    }
